body {
  font-family: Georgia, Times, "Times New Roman", serif;
  position: relative;
  background: #fbfbfb;
  background-image:url('../images/bg/connecting.jpg');
  background-position: top left;
  background-repeat: none;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0.5em;
  font-size: 1.5em;
  color: #fff;
} 

#log, #status {
  font-size: smaller;
  margin-top: 1em;
  position: absolute;
  color: #133753;
  bottom: 0;
} 

#spinner, #status {
  right: 5;
  vertical-align: middle;
}
